body {
    background-color:#F4F6F8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: Frutiger W01,arial,sans-serif;
}


.headerBar{
  background-color: #005EB8;
  display:inline-flex;
  height: clamp(60px, 6vw, 90px);
  max-width:100%;
  min-width:100%;

}


.headerLogo {
height: clamp(40px, 7vw, 100px);
padding: 0 1rem;

}


.headerLogo {
height: clamp(40px, 7vw, 100px);
  padding: 0 1rem;

}

.navBar{
  display:flex;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:10%;
  padding:auto;

}

a{
  color:white;

}

a:active{
  color:white;
  font-style:normal;
}

a:hover{
  color:rgb(245, 242, 242);

}

.sectionHeader{
margin-left:5%;
display: flex;
flex-direction: row;
 color:rgb(60, 58, 58);
  font-size:1.5rem;
  font-family: Frutiger W01,arial,sans-serif;
  font-weight:600;
}

img{
  height:5rem;
  width:5rem;

}


.contentHeader{
  display:flex;
  align-items:center;
  width:100%;
}

.contentHeaderHeading{
flex: 1;              
text-align:center;
 color:rgb(60, 58, 58);
  font-size:1.5rem;
  font-family: Frutiger W01,arial,sans-serif;
  font-weight:600;

}

.contentHeaderImg{
  margin-top:1.5%;
  margin-left:3%;
  
}

.sectionContent ul{
  padding-left:0;
  width:100%;
  font-size:15pt;

}



.sectionContent li{
  display:flex;
  justify-content:left;
  width:100%;
  margin-top:2%
}


.sectionContent strong{

text-align:left;
width:50%;
margin-left:4%

}

.sectionContent span{
  width:100%;

  
}


h1 {
    color: #212b32;
    text-align: center;
    font-family: Frutiger W01,arial,sans-serif;
    font-size: 80px;
    font-style: bold;
}



#fullRequestContainer{
    display:grid;
    margin: auto;
    text-align:center;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 30px;
    padding: 40px;
    font-family: Frutiger W01,arial,sans-serif;
    max-width: 1500px;
    

}

#patientDemographics{
  display:flex;
  flex-direction:column;
  text-align:centre;
  
    border-style:solid;
    background-color:white;
    border-color:aliceblue;
    border-radius:4px;  
    padding:10px;
    
}

li{
  list-style-type:none;
  padding:5px;
}

#clinicalInformation{
    border-style:solid;
    background-color:white;
    border-color:aliceblue;
    border-radius:4px;
    padding:10px; 
}

#hospitalInformation{
    border-style:solid;
    background-color:white;
    border-color:aliceblue;
    border-radius:4px;
    padding:10px; 
}

#testRequestInformation{
    border-style:solid;
    background-color:white;
    border-color:aliceblue;
    border-radius:4px;
    padding:10px;

}

.allRequestsButton{
  font-size:10pt;
  background-color:#005EB8;
  color:white;
  padding:1%;
  border-radius:2px;
  border-color:#005EB8;
}

.allRequestsButton:hover{
  background-color:#036bcd;
  	border-color:#005eb8;

}

#bottomMenu{
    align-items: center;
    display:flex;
    justify-content:center;
    padding:20px;
}
