



body {
    background-color: #F4F6F8;
     font-family: Frutiger W01,arial,sans-serif;
}

.headerBar{
  background-color: #005EB8;
  display:inline-flex;
  height: clamp(60px, 6vw, 90px);
  max-width:100%;
  min-width:100%;

}


.headerLogo {
height: clamp(40px, 7vw, 100px);
  padding: 0 1rem;

}


.headerLogo {
height: clamp(40px, 7vw, 100px);
  padding: 0 1rem;

}

.navBar{
  display:flex;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:10%;
  padding:auto;

}

a{
  color:white;

}

a:active{
  color:white;
  font-style:normal;
}

a:hover{
  color:rgb(245, 242, 242);

}

.sectionHeader{
 color:rgb(60, 58, 58);
  margin-left:10%;
  font-size:1.5rem;
  font-family: Frutiger W01,arial,sans-serif;
  font-weight:600;
}

h1 {
    color: #212b32;
    text-align: center;
    font-family: Frutiger W01,arial,sans-serif;
    font-size: 80px;
    font-style: bold;
}

/* Google fonts */ 
.delius-unicase-regular {
  font-family: "Delius Unicase", cursive;
  font-weight: 400;
  font-style: normal;
}

.delius-unicase-bold {
  font-family: "Delius Unicase", cursive;
  font-weight: 700;
  font-style: normal;
}
/* Google fonts 
 display:grid;
    margin: auto;
    text-align:center;
    2 columns 
    gap: 30px;
    padding: 40px;
    max-width: 1500px;
    */
.requestForm{
  display: grid;
   grid-template-columns: repeat(2, 1fr);
    align-items: center;        /* centers horizontally */
    justify-content: center;    /* centers vertically */
    font-family: Frutiger W01,arial,sans-serif;
    text-align: center;         /* centers text within elements */
    background-color:white; 
    max-width: 80%; /* limits the width of the container */
    margin:0 auto; /* centers the container horizontally */
    padding: 10px; /* adds some padding around the content */
    list-style-type: none;
    border-radius: 10px;

}

.formField{
  display:flex;
  flex-direction:column;
  width:100%;
  margin-top:2%
}


.formField label{
margin-left:1%

}

label{
  display:flex;
  align-items:flex-start;

}


input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
  vertical-align:middle;
  appearance: none;
  -webkit-appearance: none;

  border: 2px solid #4A6FA5;   /* your accent colour */
  border-radius: 3px;
  background: white;
  position: relative;
}

input[type="checkbox"]:checked {
  background: #4A6FA5;
  border-color: #4A6FA5;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 12px;
  position: absolute;
  top: -2px;
  left: 1px;
}
input, button, select {
  
  font-size:12pt;
  
}



input, button, select {
  padding:3px;
  margin:5px;
  
}
#patientd{
list-style-type: none;

}

#patientDemographics{
  display:flex;
  flex-direction:column;
  margin:auto;
  margin-top:5%;
  width:90%;
  padding-bottom:10px;

}

#clinicalInfo{
  display:flex;
  flex-direction:column;
  margin:auto;
  margin-top:5%;
  width:90%;
  padding-bottom:10px;

}

#testRequest{
  display:flex;
  flex-direction:column;
  margin:auto;
  margin-top:5%;
  width:90%;
  padding-bottom:10px;

}

#hospitalInfo{
    display:flex;
  flex-direction:column;
  margin:auto;
  margin-top:5%;
  width:90%;
  padding-bottom:10px;

}

.crossmatchInfo{
  display:flex;
  flex-direction:column;
  margin:auto;
  margin-top:5%;
  width:90%;
  padding-bottom:10px;

}

.subSectionHeader{
  color:white;
  background-color:#005EB8;
  width:100%;

}



.clinicalInfo li{
list-style-type: none;

}

.hospitalInfo li{
  list-style-type: none;
  

}


.testRequest li{
list-style-type: none;

}

.validation{
  font-style:italic;
  color:red;
}






.testSummary{
  display: flex;
    flex-direction: column;
    align-items: center;        /* centers horizontally */
    justify-content: center;    /* centers vertically */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;         /* centers text within elements */
    background-color:white; 
    max-width: 1000px; /* limits the width of the container */
    margin:0 auto; /* centers the container horizontally */
    padding: 10px; /* adds some padding around the content */
    list-style-type: none;
    border-radius: 10px;

}


.testSummary p{
  margin-bottom: 0px;
  margin-top:5px;

}

.labOverview table{
  background-color:white;

}

.labOverview th{
  font-weight:bold;
  font-size:20pt;
  max-width:15%;
  border-color: black;
  width:15%;
}


.labOverview{
  display: flex;
    flex-direction: column;
    align-items: center;        /* centers horizontally */
    justify-content: center;    /* centers vertically */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;         /* centers text within elements */
    background-color:white; 
    max-width: 98%; /* limits the width of the container */
    margin:0 auto; /* centers the container horizontally */
    padding: 10px; /* adds some padding around the content */
    list-style-type: none;
    border-radius: 10px;
}




.submitButton input{
  display:flex;
align-items:centre;
justify-content:centre;
margin-left:auto;
margin-right:auto;


  font-size:10pt;
  background-color:#005EB8;
  color:white;
  padding:1%;
  border-radius:2px;
  border-color:#005EB8;


}

.submitButton:hover input{
  background-color:#036bcd;
  	border-color:#005eb8;

}
